{% set page = 'dashboard' %}

{% extends 'layout.twig' %}

{% block content %}
    <h3>user: {{ username }}</h3>
    Last Login: <strong>{{ last_login }}</strong><br><br>
    <div class="dashboard">
        <div class="dashboard-component">
            Total calls in Plivo Cloud: <strong><div class="inline-dashboard-data" id="total-calls-plivo-cloud"><img src="static/img/loader.svg" /></div></strong>
        </div>
        <div class="dashboard-component">
            Total calls in database: <strong>{{ total_calls_db }}</strong>
        </div>
        <div class="dashboard-component">
            Average call time: <strong>{{ average_call_time }}</strong> (s)
        </div>
        <div class="dashboard-component">
            Total size on disk of recordings: <strong><div class="inline-dashboard-data" id="total-size-recordings"><img src="static/img/loader.svg" /></div></strong> (bytes)
        </div>
        <div class="dashboard-component" id="recordings-component">
            10 Last recordings:
            <table class="recordings-list">
            {% if recordings_array is empty %}
                <strong>no recordings...</strong>
            {% else %}
                <tr>
                    <th class="table-recordings-cell col-title col-call-number"></th>
                    <!--<th class="table-recordings-cell col-title col-call-uuid">UUID</th>-->
                    <th class="table-recordings-cell col-title col-call-time">Time</th>
                    <th class="table-recordings-cell col-title col-call-duration">Duration</th>
                    <th class="table-recordings-cell col-title col-call-from">From</th>
                    <th class="table-recordings-cell col-title col-call-to">To</th>
                    <th class="table-recordings-cell col-title col-play"></th>
                </tr>
                {% set count = 1 %}
                {% for recording in recordings_array %}
                    <tr class="row-hover" onclick="play_audio('{{ recording.recording_url }}');">
                        <td class="table-recordings-cell col-call-number">{{ "%02d" | format(count) }}.</td>
                        <!--<td class="table-recordings-cell col-call-uuid">{{ recording.call_uuid }}</td>-->
                        <td class="table-recordings-cell col-call-time">{{ recording.add_time }}</td>
                        <td class="table-recordings-cell col-call-duration">{{ recording.recording_duration | date("H:i:s", "+00:00 GMT")}}</td>
                        <td class="table-recordings-cell col-call-from">{{ recording.from_number[:16]}}</td>
                        <td class="table-recordings-cell col-call-to">{{ recording.to_number[:16]}}</td>
                    </tr>
                    {% set count = count + 1 %}
                {% endfor %}
            {% endif %}
            </table>
        </div>
        <div class="dashboard-component">
            Most dialed number: <strong><div class="inline-dashboard-data" id="most-dialed-number"><img src="static/img/loader.svg" /></div></strong>
        </div>
        <div class="dashboard-component">
            Most calling number: <strong><div class="inline-dashboard-data" id="most-calling-number"><img src="static/img/loader.svg" /></div></strong>
        </div>
        <div class="dashboard-component">
            Shortest call: <strong><div class="inline-dashboard-data" id="shortest-call"><img src="static/img/loader.svg" /></div></strong> (s)
        </div>
        <div class="dashboard-component">
            Longuest call: <strong><div class="inline-dashboard-data" id="longuest-call"><img src="static/img/loader.svg" /></div></strong> (s)
        </div>
    </div>

    <div id="sync-recordings">
        <span>Syncing...</span>
    </div>

    <div id="audio-player-container">
        <audio id="audio-player" preload="metadata"></audio>
        <button id="play-icon"></button>
        <span id="current-time" class="time">0:00</span>
        <input type="range" id="seek-slider" max="100" value="0">
        <span id="duration" class="time">0:00</span>
    </div>

    <script type="text/javascript" src="static/js/main.min.js"></script>
{% endblock %}